@media (prefers-color-scheme: light) {
  :root {
    --color-background: #fff1f7;
    --color-foreground: #353430;
    --color-accent: #ff8dcb;
    --color-accent-foreground: #353430;
    --color-secondary: #ffc2e6;
    --color-text-shadow: #ff0070;
    --color-section-title: #353430;
    --color-menu-buttons: #353430;
    --color-decorations: #353430;
  }

  .page {
    background-color: var(--color-background);
    background-image: url('../images/cover-image-light.png');
  }

  .header__record-badge {
    display: none;
  }
}

.page.theme_light {
  --color-background: #fff1f7;
  --color-foreground: #353430;
  --color-accent: #ff8dcb;
  --color-accent-foreground: #353430;
  --color-secondary: #ffc2e6;
  --color-text-shadow: #ff0070;
  --color-section-title: #353430;
  --color-menu-buttons: #353430;
  --color-decorations: #353430;

  background-color: var(--color-background);
  background-image: url('../images/cover-image-light.png');
}

.theme_light .header__record-badge {
  display: none;
}
